[Unit]
Description=Data to Phone Service
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/home/tovarichkek/services/logs_to_phone/LOGS
Restart=always
RestartSec=5s
StandardOutput=append:/var/log/data_to_phone.log
StandardError=append:/var/log/data_to_phone.log
User=root
WorkingDirectory=/usr/local/bin

[Install]
WantedBy=multi-user.target
